* text=auto

# see https://www.aleksandrhovhannisyan.com/blog/crlf-vs-lf-normalizing-line-endings-in-git/#a-simple-gitattributes-config# SCM syntax highlighting & preventing 3-way merges

pixi.lock merge=binary linguist-language=YAML linguist-generated=true
